section.Banner
	img.Banner-img(src="./public/img/banner2.jpg", alt="")
	.Banner-copy
		h3.Banner-title Create
		h4.Banner-subtitle A toxic free future
		p.Banner-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
		button.Button.Button-banner(type="submit") Start Today
