section.Features
	.container
		h3.Features-title.title-sections 20 years
			span of making changes
		p.Features-description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor aspernatur sunt dolore itaque atque quia necessitatibus sed voluptas nihil.
	.container
		.Features-containerItem
			.Features-item
				.icon.icon-bolt
				p.Features-itemTitle Climate
			.Features-item
				.icon.icon-leaf
				p.Features-itemTitle Nature
			.Features-item
				.icon.icon-gota
				p.Features-itemTitle Oceans
			.Features-item
				.icon.icon-recycle
				p.Features-itemTitle Pollutions
			.Features-item
				.icon.icon-apple
				p.Features-itemTitle Farming
