header.Header
	.container
		.Menu
			h2.Menu-logo Green
				span Rescues
			.Menu-toggle.icon-menu#navId-toggle Menu
			nav.Menu-nav#navId
				ul.Menu-list#menuId
					li.Menu-item: a.Menu-link(href="#") Features
					li.Menu-item: a.Menu-link(href="#") Service
					li.Menu-item: a.Menu-link(href="#") Blog
					li.Menu-item: a.Menu-link(href="#") Gallery
					li.Menu-item: a.Menu-link(href="#") Contact
			button.Button.Button-donate(type="submit") Donate
