@charset "UTF-8";

@font-face {
  font-family: "green-page";
  src:url("../fonts/icon-fonts/green-page.eot");
  src:url("../fonts/icon-fonts/green-page.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-fonts/green-page.woff") format("woff"),
    url("../fonts/icon-fonts/green-page.ttf") format("truetype"),
    url("../fonts/icon-fonts/green-page.svg#green-page") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "green-page" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "green-page" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\61";
}
.icon-arrow-down:before {
  content: "\62";
}
.icon-check:before {
  content: "\63";
}
.icon-leaf:before {
  content: "\64";
}
.icon-recycle:before {
  content: "\65";
}
.icon-apple:before {
  content: "\66";
}
.icon-gota:before {
  content: "\67";
}
.icon-bolt:before {
  content: "\68";
}
.icon-world:before {
  content: "\69";
}
.icon-leaft2:before {
  content: "\6a";
}
.icon-load:before {
  content: "\6b";
}
.icon-plus:before {
  content: "\6c";
}
