html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: $font-size;
	font-family: source_sans_proregular;
	color: $font-color;
	min-height: 100vh;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: $font-color;
}

img {
	max-width: 100%;
}
